* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active a,
a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 2px 0px #555555;
  margin: 0;
  padding: 0;
  width: 320px;
  max-width: 320px;
}

.banner_headline h2 {
  color: white;
  font-size: 20px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 320px;
  max-width: 320px;
}

.banner_options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079c7;
}

.banner3 {
  background-color: #2b4c99;
}

.banner_title {
  font-size: 20px;
}

.banner_desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display: inline-block;
  border: 1px solid white;
  color: white;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}

.banner_week {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555555;
}

#content {
  display: flex;
  justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    margin-right: 20px;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: black;
}

article .news_resume{
    color: #000000;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 30px;
}

article a{
    text-decoration: none;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.footer_menu {
  display: flex;
}
.fm_1, .fm_2, .fm_3 {
  flex: 1;
  color: #fff;
}
.fm_1{
  background-color: #39aae1;
}
.fm_2 {
  background-color: #0079c7;
}
.fm_3 {
  background-color: #2b4c99;
}
.footer_menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
}
.footer_area {
  display: flex;

}
.footer_areaitem {
  flex: 1;
  color: #fff;
  background-color: #1e1e1e;
}
.flexColumn {
  flex-direction: column;
}
footer .widget_title2{
  margin-top: 25px;
}
footer .widget_title2 .widget_title_bar {
  margin-bottom: 25px;
}
footer .widget_title_text {
  color: #fff;
}
footer .widget_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  color: #5c5c5c;
}
.footer_copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}
.widget_contacts {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #5c5c5c;
  margin-top: 30px;
  margin-right: 10px;
}
.widget_contacts a {
  text-decoration: none;
  color: #5c5c5c;
}
.widget_contacts a:hover {
  text-decoration: none;
  color: #727272;
}
.icones {
  display: flex;
  margin-top: 20px;
  filter: contrast(30%) grayscale(60%); 
}
.post {
  color: #5c5c5c;
  font-size: 13px;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 20px;
}
.post a {
  text-decoration: none;
  color: #fff;
}
.posts {
  margin-top: 20px;
  margin-right: 10px;
  line-height: 20px;
}
.posts a {
  display: flex;
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}   
.posted-at {
  color: #36a9e1;
  font-size: 11px;
  margin-left: 18px;
}
.posts2 {
  display: flex;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 20px;
}
.posts1 a {
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;

}
.widget_body_desc {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 20px;
}
.footerContacts{
  display: flex;
  justify-content:space-between;
}
